:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
@media (min-width: 768px) {
  .container {
    width: 820px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Spartan", sans-serif;
}

main .container {
  margin-top: 5rem;
}

/* bg */
.background {
  display: none;
  position: relative;
}
@media (max-width: 767px) {
  .bg-top-mobile {
    display: block;
    left: 0;
    top: 0;
    width: 80%;
    position: absolute;
  }
  .bg-bottom-mobile {
    display: block;
    right: 20%;
    bottom: -40%;
    width: 80%;
    position: absolute;
  }
}
@media (min-width: 768px) {
  .bg-top-desktop {
    display: block;
    left: 0;
    top: 0;
    position: absolute;
  }
  .bg-bottom-desktop {
    display: block;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}

/* first section */
main .container .split {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1200px) {
  main .container .split {
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    align-items: center;
  }
}

main .container .split .txt {
  color: var(--Very-Dark-Magenta);
}

@media (max-width: 767px) {
  main .container .split .txt {
    text-align: center;
    margin-bottom: 2rem;
  }

  main .container .split .txt h1 {
    font-size: 2rem;
  }

  main .container .split .txt p {
    line-height: 1.5;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  main .container .split .txt {
    text-align: center;
    margin-bottom: 3rem;
  }

  main .container .split .txt h1 {
    font-size: 3rem;
  }

  main .container .split .txt p {
    line-height: 1.5;
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  main .container .split .txt h1 {
    font-size: 3.3rem;
    margin-bottom: 1rem;
  }

  main .container .split .txt p {
    line-height: 2;
    max-width: 90%;
  }
}

main .container .split .txt p {
  color: var(--Dark-Grayish-Magenta);
}

main .container .split .ratings {
  height: 15.625rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

main .container .split .ratings .rating {
  display: flex;
  align-items: center;
  background-color: var(--Light-Grayish-Magenta);
}
@media (max-width: 767px) {
  main .container .split .ratings .rating {
    margin-bottom: 1rem;
  }
}

main .container .split .ratings .rating h2 {
  color: var(--Very-Dark-Magenta);
}

main .container .split .ratings .rating .stars {
  color: orange;
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 767px) {
  main .container .split .ratings .rating {
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
  }
  main .container .split .ratings .rating .stars {
    margin: 0 0.5rem 0.5rem;
  }
  main .container .split .ratings h2 {
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  main .container .split .ratings {
    position: relative;
    left: 1%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 0%;
    row-gap: 0%;
  }

  main .container .split .ratings .rating {
    width: 49%;
    height: 6rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
  }

  main .container .split .ratings .rating:last-child {
    width: 100%;
    margin-top: -1.5rem;
  }

  main .container .split .ratings h2 {
    font-size: 1.2rem;
  }

  main .container .split .ratings .rating .stars {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  main .container .split .ratings {
    right: 3%;
  }
  main .container .split .ratings .rating {
    padding: 1.3rem 2rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
    position: absolute;
    width: 34.375rem;
  }
  main .container .split .ratings .rating:first-child {
    left: -20%;
    top: 0;
  }

  main .container .split .ratings .rating:nth-child(2) {
    left: -10%;
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
  }
  main .container .split .ratings .rating:last-child {
    left: 50%;
    transform: translatex(-50%);
    -webkit-transform: translatex(-50%);
    -moz-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    -o-transform: translatex(-50%);
    bottom: 0;
  }
  main .container .split .ratings .rating h2 {
    font-size: 1rem;
    margin-left: 1.5rem;
  }
}

/* second section */
main .container .customers {
  position: relative;
  margin: 5rem 0;
  display: grid;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 350px)); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media (min-width: 768px) and (max-width: 1199px) {
  main .container .customers {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 0 3rem;
  }
}

main .container .customers .customer {
  background-color: var(--Very-Dark-Magenta);
  padding: 2.5rem 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
@media (max-width: 650px) {
  main .container .customers .customer:last-child {
    grid-column: span 1;
  }
}
@media (min-width: 651px) and (max-width: 1199px) {
  main .container .customers .customer:last-child {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  main .container .customers .customer:nth-child(2) {
    position: relative;
    top: 5%;
  }
  main .container .customers .customer:last-child {
    position: relative;
    top: 10%;
  }
}

main .container .customers .customer .profile {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

main .container .customers .customer .profile img {
  margin-right: 1.3rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

main .container .customers .customer .profile .txt {
  font-size: 0.7rem;
}

main .container .customers .customer .profile .txt > h3 {
  text-transform: capitalize;
}

main .container .customers .customer .profile .txt > p {
  opacity: 50%;
  margin-top: 0.3rem;
}

main .container .customers .customer > p {
  font-size: 0.9rem;
  color: white;
  line-height: 1.5;
}
@media (min-width: 768px) and (max-width: 1199px) {
  main .container .customers .customer:last-child > p {
    margin-top: 2rem;
  }
}
